nav button {
  font-size: 24px;
  padding: 0;
  font-weight: 600;
}

.btn-back .svg-icon {
  height: 32px;
  margin: 0 12px -7px 0;
}

.btn-delete {
  color: var(--error);
  margin-left: 32px;
}

.book-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 40px;
  margin-top: 40px;
}

.book-info-container {
  max-width: 560px;
}

.book-info-container h1 {
  margin: 0 0 32px 0;
  font-size: 40px;
  color: var(--on-page);
}

.book-info-container .book-info-header {
  font-size: 20px;
  color: var(--on-page);
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.book-info-container p {
  font-size: 16px;
  color: var(--on-card-highlight);
  margin: 32px 0 0 0;
  text-align: justify;
  text-overflow: clip;
  overflow: hidden;
}

.book-long-description {
  color: var(--on-card-highlight);
}

.book-cover-container img {
  max-width: 300px;
}

.delete-subtext {
  width: 505px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .book-container {
    grid-template-columns: 100%;
  }
}