.float-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #00000044;
}

.float-modal {
  background: var(--page);
  color: var(--on-page);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 0 32px 0 #00000040;
}

.float-modal h1:first-child {
  font-size: 32px;
  margin: 0 0 32px 0;
  text-align: center;
}