.book-card {
  background: var(--card);
  overflow: hidden;
  border-radius: 16px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.book-cover {
  background: var(--image-container);
  height: 196px;
  display: flex;
  justify-content: center;
  padding: 16px;
}

.book-info {
  height: 236px;
  padding: 16px;
}

.book-info h2 {
  margin: 0 0 16px 0;
  font-size: 20px;
  color: var(--on-card-hightlight);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 24px;
}

.book-info p {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 20px;
  margin: 0;
  font-size: 16px;
  color: var(--on-card);
  text-align: justify;
}