.custom-input {
  display: flex;
  gap: 12px;
  height: 54px;
  border-radius: 12px;
  background: var(--card);
  color: var(--on-card);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.custom-input > * {
  min-width: 24px;
  padding: 2px 16px;
}

.custom-input > input,
.custom-input > textarea {
  outline: none;
  border: none;
  height: 100%;
  font-size: 16px;
  flex-grow: 1;
}

.custom-input > *::placeholder {
  color: var(--input-placeholder);
}

.custom-input-textarea,
.custom-input-file {
  height: 100%;
}

.custom-input-file {
  background-color: var(--image-container);
}

.custom-input-file > input {
  display: none;
}

.custom-input-file > label {
  background-image: url(/src/assets/icons/image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 62px;
  background-position-y: 40%;
  background-color: var(--card);

  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.custom-input-file > label > span {
  margin-top: 100px;
}

.custom-input-file > .preview-image {
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  padding: 0;
  background-color: var(--image-container);
  background-size: contain;
}

.custom-input-textarea > textarea {
  resize: none;
  margin: 18px 6px;
  height: calc(100% - 30px);
}