#booklist-container {
  --columns: 3;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 50px;
  margin-top: 64px;
}

#new-book-form {
  display: grid;
  grid-template-columns: 428px 240px;
  gap: 32px;
}

#new-book-form .form-left-container {
  display: grid;
  gap: 32px;
}

#new-book-form .form-double-container {
  grid-column: 1 / 3;
  text-align: center;
}

#new-book-form .form-centered-container {
  display: flex;
  gap: 48px;
  justify-content: center;
}

@media (max-width: 800px) {
  #booklist-container {
    --columns: 2;
  }
}
@media (max-width: 400px) {
  #booklist-container {
    --columns: 1;
  }
}